

/* Our default values set as CSS variables */
:root {
  --color-bg: #00000F;
  --color-text-main: #000000;
  --color-primary: #FFF000;
  --font-family: monospace;
}




body {
  font-family: monospace;
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-family);
  color: #00FF00;
}

/* Subheading */
h2 {
  font-family: var(--font-family);
  color: #00FF00;
}

label {
  color: #FFFFFF;
}

p {
  color: #00FF00;
}

/* Links */
a {
  font-size: 15px;
  color: #00FF00;
  font-family: var(--font-family);
}

li {
  color: #00FF00;
}

form {
  color: #00FF00;
}


  .data-container{
    display: flex;
    align-items: flex-start;

  }
  
.progress-container-wrapper {
    width:100%;
}

.progress-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    
}

.progress-bar {
    height: 30px;
    width: 0;
    background-color: ;
    line-height: 30px; /* Center text vertically */
    color: black;
}
  
  .progress-bar + .progress-bar {
    margin-top: 10px; /* Add space between bars */
  }
  
  .number {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 40px;
    color: white;
  }


/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
