<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.glitch.global/997181f4-1a8f-449c-b3d6-36ca674fc796/foodicon3.png?v=1727489692557" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    
    {%block head%}{%endblock%}
  </head>
  
  <body>
    <div class="bg" >
    {%block body%}{%endblock%}
    </div>
    
    
  </body>
</html>
