{% extends 'base.html'%}

{%block head%}
  <title>Goals</title>
{%endblock%}

{%block body%}
  <h1>Your goals...</h1>
  <h2>Time and money are important!! How much do you have available for meal prep this week? </h2>
  
  <h2>Set Your Goals</h2>
    <form action="/goals" method="POST" onsubmit="return validateForm()">
        <label for="time">Time(mins):</label>
        <input type="text" id="time" name="time" required><br>
        <p id="timeErrorMessage" style="color: red;"></p>
      
        <label for="budget">Money($):</label>
        <input type="text" id="budget" name="budget" required><br>
        <p id="budgetErrorMessage" style="color: red;"></p>  
      
        <label for="zipCode">Zip Code:</label>
        <input type="text" id="zipCode" name="zipCode"><br>
        <p id="zipCodeErrorMessage" style="color: red;"></p>

        <button type="submit">Submit</button>
  </form>
<div id="result"></div>

<script>
function validateForm() {
    const time = document.getElementById('time').value;
    const budget = document.getElementById('budget').value;
    const zipCode = document.getElementById('bu').value;
    const timeErrorMessage = document.getElementById('timeErrorMessage');
    const budgetErrorMessage = document.getElementById('budgetErrorMessage');

    if ( !/^\d+$/.test(time) || parseInt(time) <= 0) {
        timeErrorMessage.textContent = "Please enter a valid amount of time";
        return false;  // Prevent form submission
    }
    timeErrorMessage.textContent = "";
    if (!/^\d+(\.\d+)?$/.test(budget) || parseFloat(budget) <= 0){
      budgetErrorMessage.textContent = "Please enter a valid dollar amount";
      return false;
    }
    budgetErrorMessage.textContent = "";
  

    return true;  // Allow form submission
}
</script>

{%endblock%}

