{% extends 'base.html'%}

{%block head%}
  <title>Goals</title>

{%endblock%}

{%block body%}
  <h1>Your goals...</h1>
  <h2>Time and money are important!! How much do you have available for meal prep this week? </h2>
  
  <h2>Set Your Goals</h2>
    <form action="/goals" method="POST" onsubmit="return validateForm()">
        <label for="time">Time(mins):</label>
        <input type="number" id="time" name="time" min="5" max ="500" required><br>
        <p id="timeErrorMessage" style="color: red;"></p>
      
        <label for="budget">Money($):</label>
        <input type="number" id="budget" name="budget" min="5" max="720" required><br>
        <p id="budgetErrorMessage" style="color: red;"></p>  
      
      <label for="servingsPerDay">Servings per day:</label>
        <input type="number" id="servingsPerDay" name="servingsPerDay" min="1" max="" required><br>
        
        <label for="servingsPerDay">Servings per day:</label>
        <input type="number" id="servingsPerDay" name="servingsPerDay" min="1" max="" required><br>
<!--         <p id="budgetErrorMessage" style="color: red;"></p>   -->
      
        <label for="zipCode">Zip Code:</label>
        <input type="text" id="zipCode" name="zipCode"><br>
        <p id="zipCodeErrorMessage" style="color: red;"></p>

        <button type="submit">Submit</button>
  </form>
<div id="result"></div>

  <script src="../static/js/validateGoals.js"></script>
{%endblock%}

