{% extends 'base.html'%}

{%block head%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>

{%endblock%}
{%block body%}


<h1>Choose Your Meals</h1>
<h2>Select meals and servings you would like for the week. The totals are calculated for the amount of people you will be cooking for!</h2>

<div class="data-container">
  <div class="progress-container-wrapper">
    <p>Estimated price for {{people}}:</p>
    <div class="progress-container">
      <div id="mealProgressBar" class="progress-bar">$0.00</div>
    </div>

    <p>Estimated prep time:</p>
    <div class="progress-container">
      <div id="timeProgressBar" class="progress-bar">0 mins</div>
    </div>
  </div>
  <p id="currentServings" class="number">0/{{servingsPerPerson}} meals</p>
</div>

<h1>Select Items</h1>
<p class="error-message" style="position: absolute; text-align: center; top: 430px; width: 100%;">{{error_message}}</p>

<form id="mealForm" method="POST" action="/menu">
  <div style="overflow-y: auto; height: calc(50vh); padding: 10px; align-items: top;">
    {% for meal in meals %}
    
    <div style="display:flex; align-items: center; " >
      
      <input type="checkbox" id="meal{{ meal.id }}" name="selected_meals" value="{{ meal.id }}" 
             data-price="{{meal.unit_price}}" data-time="{{meal.prep}}" 
             onchange="toggleServings({{ meal.id }})">
      <label for="meal{{ meal.id }}" style="margin-left: 0px;">{{ meal.name }} (${{meal.unit_price}})</label>
      <input type="number" id="servings{{ meal.id }}" name="servings{{ meal.id }}" min="1" 
             max="{{totalServings}}" value="1" style="width: 50px; display: none; margin-left: 10px;">
     
    </div>
     
    {% endfor %}
  </div>
  <button type="submit" style="margin-top: 10px;">Submit</button>
</form>

<script src="../static/js/toggleServings.js"></script>

<script>
// JavaScript for updating progress bars
const mealForm = document.getElementById('mealForm');
const mealProgressBar = document.getElementById('mealProgressBar');
const timeProgressBar = document.getElementById('timeProgressBar');
const maxValue = {{budget}};
const maxTime = {{time}};

mealForm.addEventListener('change', function() {
    let totalValue = 0;
    let totalTime = 0;
    let totalServings = 0;

    const mealsChecked = document.querySelectorAll('input[name="selected_meals"]:checked');
    mealsChecked.forEach(meal => {
        const id = meal.value; 
        const unitPriceValue = parseFloat(meal.getAttribute("data-price"));
        const time = parseInt(meal.getAttribute("data-time"));
        const inputId = 'servings' + id; 
        const servings = parseInt(document.getElementById(inputId).value);

        totalValue += unitPriceValue * servings * {{people}}; 
        totalTime += time;
        totalServings += servings;
    });

    const costPercentage = (totalValue / maxValue) * 100;
    const timePercentage = (totalTime / maxTime) * 100;

    const costGreen = Math.max(0, 255 - Math.round(2.55 * costPercentage));
    const costRed = Math.min(255, Math.round(2.55 * costPercentage));
    const timeGreen = Math.max(0, 255 - Math.round(2.55 * timePercentage));
    const timeRed = Math.min(255, Math.round(2.55 * timePercentage));

    mealProgressBar.style.backgroundColor = `rgb(${costRed}, ${costGreen}, 0)`;
    timeProgressBar.style.backgroundColor = `rgb(${timeRed}, ${timeGreen}, 0)`;

    mealProgressBar.style.width = costPercentage + '%';
    mealProgressBar.textContent = '$' + totalValue.toFixed(2);
    timeProgressBar.style.width = timePercentage + '%';
    timeProgressBar.textContent = totalTime + ' mins';
    document.getElementById('currentServings').textContent = totalServings + '/{{servingsPerPerson}} meals';
});
</script>


{%endblock%}
