{% extends 'base.html'%}





{%block head%}
  <title>Your Plan</title>
{%endblock%}
{%block body%}
  <h1>This week's plan...</h1>
  <h2>Here are the recipes for the meals you chose and a shopping list, as well as the store that currently has the best deals</h2>
  {% for meal in selected_meals%}
    <a href="{{meal.url}}" target="_blank">{{meal.name}}</a>
  {%endfor%}

  {% for item, values in shopping_list.items()%}
    {%if values["quantity"] == 0%}
      <p>{{item.lower()}}</p>
    {%else%}
      <p>{{values["quantity"]}} {{values["unit"]}} {{item.lower()}}</p>
    {%endif%}
  {%endfor%}
<p>{{quantities}}</p>
  <a href="/">Home</a>
{%endblock%}
