{% extends 'base.html' %}

{% block head %}
  <title>Your Plan</title>



{% endblock %}

{% block body %}
  <h1>This Week's Plan</h1>
  
  <h2><br>Enjoy!</h2>
  
    <div class="recipe-links">
    <h3>Recipe links</h3>
    {% for meal in selected_meals %}
      <a href="{{ meal.url }}" target="_blank">{{ meal.name }}</a>
    {% endfor %}
  </div>


    
    <div class="shopping-list">
      <h3>Shopping list</h3>
      {% for item, values in shopping_list.items() %}
      {% if values["quantity"] == 0 %}
        <p>{{ item.lower() }}</p>
      {% else %}
        <p>{{ values["fraction"] }} {{ values["unit"] }} {{ item.lower() }}</p>
      {% endif %}
      {% endfor %}
    </div>


<div class="footer-container">
  <a href="/">Home</a>
</div>
  
{% endblock %}
